<template>
  <div style="padding: 5px;" class="home">
    <div class="level">
      <div class="level-item">
        <h1 class="title">Hartselle Men's League 2020</h1>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <h2 style="margin-top: -20px;" class="subtitle">Registration Coming Soon!!</h2>
      </div>
    </div>
    <div class="level image-level">
      <div class="level-item">
        <figure class="image">
          <img class="image-src" src="@/assets/hartselle-logo.png" alt="Hartselle Logo">
        </figure>
      </div>
    </div>
    <div style="margin-top: 20px;" class="level">
      <h1 style="color: #dd6b4d; margin-bottom: 0px; letter-spacing: 2px;" class="title"><b><i>~ This Week ~</i></b></h1>
      <div v-for="(el, index) in games" v-bind:key="index">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <h3 class="subtitle">{{ el.Team }}&nbsp;--&nbsp;<b><i>{{ el.Time }}</i></b></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-top: 30px; margin-bottom: 8px;" class="level">
      <div class="level-item">
        <b-button type="is-primary" style="width: 8.5em;">Registration Form</b-button>
      </div>
    </div>
    <div class="level" style="margin-bottom: 8px;">
      <div class="level-item">
        <b-button type="is-primary" style="width: 8.5em;">Waiver</b-button>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <b-button type="is-primary" style="width: 8.5em;">Roster Form</b-button>
      </div>
    </div>
    <div class="level">
      <div class="level-item">
        <a href="https://www.facebook.com/Hartselle-Mens-Basketball-League-391825587653069"><span style="font-size: 2em; color: #dae1e7;"><i class="fab fa-facebook"></i></span></a>
        <span style="font-size: 0.5em; color: #dae1e7; margin-left: 8px;"><i class="fas fa-circle"></i></span>
        <a href="mailto:admin@hartselleleague.com"><span style="font-size: 2em; color: #dae1e7; margin-left: 8px;"><i class="far fa-envelope-open"></i></span></a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  data () {
    return {
      games: [{
        Team: 'Team 1 vs Team 2',
        Time: '5:30'
      },
      {
        Team: 'Team 3 vs Team 4',
        Time: '6:30'
      },
      {
        Team: 'Team 5 vs Team 6',
        Time: '7:30'
      },
      {
        Team: 'Team 7 vs Team 8',
        Time: '8:30'
      }]
    }
  }
}
</script>

<style lang="scss" scoped>
.image-level {
  width: 95%;
  margin: 0 auto;
}
.image-src {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
@media only screen and (min-width: 426px) {
  .image-src {
    width: 80%;
    height: 300px;
  }
}
</style>
