<template>
  <div style="padding: 5px;" class="schedule">
    <h1 class="title">Schedule</h1>
    <b-table style="margin-top: 10px;"
      :data="scheduleData"
      icon-pack="fas"
      bordered
      striped
      narrowed
      detailed
      :mobile-cards="false"
      @details-open="getTeamSchedule"
      >
      <template slot-scope="props">
        <b-table-column label="Team Name">
          {{ props.row.TeamName }}
        </b-table-column>
      </template>

      <template slot="detail">
        <b-table :data="teamSchedule"
          bordered
          striped
          narrowed
          :mobile-cards="false"
        >
          <template slot-scope="props">
            <b-table-column label="Date">
              {{ props.row.Date }}
            </b-table-column>
            <b-table-column label="Opponent">
              {{ props.row.Opponent }}
            </b-table-column>
            <b-table-column label="Time">
              {{ props.row.Time }}
            </b-table-column>
            <b-table-column label="Score" width="50">
              {{ props.row.Score }}
            </b-table-column>
          </template>
        </b-table>
      </template>
    </b-table>

  <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false">
    <b-icon
      pack="fas"
      icon="sync-alt"
      size="is-large"
      custom-class="fa-spin">
    </b-icon>
  </b-loading>

  </div>
</template>

<script>
import { db } from '../main'
export default {
  name: 'schedule',
  data () {
    return {
      isLoading: false,
      scheduleData: [],
      teamSchedule: []
    }
  },
  async created () {
    this.isLoading = true
    await db.collection('schedule')
      .doc('schedule')
      .get()
      .then((snapshot) => {
        const document = snapshot.data()
        for (const state of Object.keys(document)) {
          this.scheduleData.push(document[state])
        }
      })
    this.isLoading = false
  },
  methods: {
    getTeamSchedule (row) {
      this.teamSchedule = []
      for (const state of Object.keys(row)) {
        if (state !== 'TeamName') {
          this.teamSchedule.push(row[state])
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
