<template>
  <div style="padding: 10px;" class="standings">
    <h1 class="title">Standings</h1>
    <b-table style="margin-top: 10px;"
      :data="standingsData"
      icon-pack="fas"
      bordered
      striped
      narrowed
      :mobile-cards="false"
      >
      <template slot-scope="props">
        <b-table-column centered label="Place">
          {{ props.row.Place }}
        </b-table-column>
        <b-table-column centered label="Team Name">
          {{ props.row.teamStats.Name }}
        </b-table-column>
        <b-table-column centered label="Record">
          {{ props.row.teamStats.Record }}
        </b-table-column>
      </template>
    </b-table>

  <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false">
    <b-icon
      pack="fas"
      icon="sync-alt"
      size="is-large"
      custom-class="fa-spin">
    </b-icon>
  </b-loading>
  </div>
</template>

<script>
import { db } from '../main'
export default {
  name: 'standings',
  data () {
    return {
      isLoading: false,
      teamData: [],
      standingsData: []
    }
  },
  async created () {
    this.isLoading = true
    await db.collection('teams')
      .doc('teams')
      .get()
      .then((snapshot) => {
        const document = snapshot.data()
        for (const state of Object.keys(document)) {
          this.teamData.push(document[state])
        }
      })
    await this.calculateStandings()
    this.isLoading = false
  },
  methods: {
    calculateStandings () {
      let splice = false
      let i = 0
      for (const el of this.teamData) {
        if (this.standingsData.length < 1) {
          this.standingsData.push({
            teamStats: el
          })
        } else {
          for (i = 0; i < this.standingsData.length; i++) {
            const index = el.Record.indexOf('-')
            const wins = parseInt(el.Record.substring(0, index), 10)
            const losses = parseInt(el.Record.substring(index + 1))
            const winPerc = wins / (wins + losses)
            const index2 = this.standingsData[i].teamStats.Record.indexOf('-')
            const wins2 = parseInt(this.standingsData[i].teamStats.Record.substring(0, index2), 10)
            const losses2 = parseInt(this.standingsData[i].teamStats.Record.substring(index2 + 1), 10)
            const winPerc2 = wins2 / (wins2 + losses2)
            if (winPerc > winPerc2) {
              splice = true
              break
            }
          }
          if (splice) {
            this.standingsData.splice(i, 0, {
              teamStats: el
            })
          } else {
            this.standingsData.push({
              teamStats: el
            })
          }
        }
      }
      for (i = 0; i < this.standingsData.length; i++) {
        this.standingsData[i].Place = i + 1
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
