<template>
  <div style="padding: 5px;" class="teams">
    <h1 class="title">Teams</h1>
    <b-collapse v-for="(el, index) in teamData" v-bind:key="index"
                icon-pack="fas"
                style="margin-bottom: 5px"
                class="card"
                :open="false"
                aria-id="contentIdForA11y3">
      <div
          slot="trigger"
          slot-scope="props"
          class="card-header"
          role="button"
          aria-controls="contentIdForA11y3">
          <p class="card-header-title">
              {{ el.Name }}
          </p>
          <a class="card-header-icon">
              <b-icon
                  pack="fas"
                  :icon="props.open ? 'caret-up' : 'caret-down'">
              </b-icon>
          </a>
      </div>
      <div class="card-content">
          <div class="content">
            <div class="level">
              <div class="level-item">
                <h3 style="font-size: 1.25em" class="subtitle">Record: {{ el.Record }}</h3>
              </div>
            </div>
            <div class="level">
              <div class="level-item">
                <h3 style="font-size: 1em" class="subtitle">Avg. PPGF: {{ el.PPGF }}</h3>
              </div>
              <div class="level-item">
                <h3 style="font-size: 1em" class="subtitle">Avg. PPGA: {{ el.PPGA }}</h3>
              </div>
            </div>
          </div>
      </div>
    </b-collapse>

    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false">
      <b-icon
        pack="fas"
        icon="sync-alt"
        size="is-large"
        custom-class="fa-spin">
      </b-icon>
    </b-loading>

  </div>
</template>

<script>
import { db } from '../main'
export default {
  name: 'teams',
  data () {
    return {
      isLoading: false,
      teamData: []
    }
  },
  async created () {
    this.isLoading = true
    await db.collection('teams')
      .doc('teams')
      .get()
      .then((snapshot) => {
        const document = snapshot.data()
        for (const state of Object.keys(document)) {
          this.teamData.push(document[state])
        }
      })
    this.isLoading = false
    console.log(this.teamData)
  }
}
</script>

<style lang="scss" scoped>

</style>
