<template>
  <div style="padding: 5px;" class="tournaments">
    <h1 class="title">Bracket not available yet.</h1>
  </div>
</template>

<script>
export default {
  name: 'tournaments'
}
</script>

<style lang="scss" scoped>

</style>
