<template>
  <div>
    <b-navbar type="is-primary" :transparent="true" :fixed-top="isFixedTop">
        <template slot="brand">
            <b-navbar-item href="/">
              <h1 class="links"><b><i>Hartselle League</i></b></h1>
            </b-navbar-item>
        </template>
        <template slot="start">
            <b-navbar-item href="#">
                <router-link class="links" to="/teams">Teams</router-link>
            </b-navbar-item>
            <b-navbar-item href="#">
                <router-link class="links" to="/schedule">Schedule</router-link>
            </b-navbar-item>
            <b-navbar-item href="#">
                <router-link class="links" to="/standings">Standings</router-link>
            </b-navbar-item>
            <b-navbar-item href="#">
                <router-link class="links" to="/tournament">Tournament</router-link>
            </b-navbar-item>
            <b-navbar-item v-if="isUserSignedIn" href="#">
                <router-link class="links" to="/admin">Admin</router-link>
            </b-navbar-item>
        </template>

        <template slot="end">
          <div v-if="!isUserSignedIn" class="nav-end">
            <b-navbar-item tag="div">
                <div style="justify-content: center;" class="buttons">
                    <!-- <h2 class="title is-7" style="color: white">{{ currentUser }}&nbsp;&nbsp;</h2> -->
                    <a @click="showAdminLogin()" class="button is-darkBlue">
                        <strong>Admin Login</strong>
                    </a>
                </div>
            </b-navbar-item>
          </div>
          <div v-else class="nav-end">
            <b-navbar-item tag="div">
                <div style="justify-content: center;" class="buttons">
                    <!-- <h2 class="title is-7" style="color: white">{{ currentUser }}&nbsp;&nbsp;</h2> -->
                    <a @click="adminLogout()" class="button is-darkBlue">
                        <strong>Logout</strong>
                    </a>
                </div>
            </b-navbar-item>
          </div>
        </template>
    </b-navbar>

  <b-modal :active.sync="loginModalIsActive" has-modal-card trap-focus aria-role="dialog" aria-modal>
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
          <p class="modal-card-title">Login</p>
      </header>
      <section class="modal-card-body">
        <b-field label="Email">
          <b-input
              type="email"
              v-model="userName"
              :value="userName"
              placeholder="Admin Email"
              required>
          </b-input>
        </b-field>

        <b-field label="Password">
          <b-input
              type="password"
              v-model="password"
              :value="password"
              password-reveal
              placeholder="Password"
              required>
          </b-input>
        </b-field>
      </section>
      <footer class="modal-card-foot">
        <button class="button" type="button" @click="loginModalIsActive = false">Close</button>
        <button class="button is-primary" @click="adminSignIn()">Login</button>
      </footer>
    </div>
  </b-modal>

  </div>
</template>

<script>
import fb from 'firebase'
export default {
  data () {
    return {
      isFixedTop: true,
      loginModalIsActive: false,
      userName: '',
      password: ''
    }
  },
  computed: {
    isUserSignedIn () {
      const user = this.$store.getters['userinfo/getUserState']
      if (!user) {
        return false
      } else {
        return true
      }
    }
  },
  methods: {
    showAdminLogin () {
      this.loginModalIsActive = true
    },
    adminSignIn () {
      fb.auth().signInWithEmailAndPassword(this.userName, this.password).then(() => {
        this.$buefy.toast.open({
          message: 'Welcome, Admin!',
          type: 'is-warning',
          position: 'is-bottom'
        })
        this.$store.dispatch('userinfo/refreshUserState', true)
        this.loginModalIsActive = false
        this.$router.replace('admin')
      },
      (err) => {
        console.log(err)
      })
    },
    adminLogout () {
      fb.auth().signOut().then(() => {
        this.$buefy.toast.open({
          message: 'Admin account logged out.',
          type: 'is-warning',
          position: 'is-bottom'
        })
        if (this.$router.currentRoute.name !== 'home') {
          this.$router.replace('/')
        } else {
          this.$router.replace('/home')
        }
      })
    }
  }
}
</script>

<style lang="scss">
$primary: #dd6b4d;
$darkBlue: #183661;
  .top-nav {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
  }
  .title {
    margin-top: 11px;
  }
  .navbar-start {
    text-align: center;
  }
  .navbar {
    margin-bottom: 30px;
  }
  .navbar-menu.is-active .navbar-end .buttons .title {
    display: none;
  }
  .navbar-menu.is-active .navbar-start .navbar-item .links {
    color: $primary;
  }
  .links {
    color: white;
  }
  .links:hover {
    color: $darkBlue;
  }
  .navbar-menu.is-active .navbar-start a{
    font-weight: bold;
  }
</style>
