<template>
  <div style="padding: 1.25em;" class="edit-teams">
    <!-- <b-button style="position: fixed; left: 0;" icon-pack="fas" icon-left="arrow-alt-circle-left" type="is-success" @click="backButton">Back</b-button> -->
    <b-table style="margin-top: 10px;"
      :data="sortedTeams"
      icon-pack="fas"
      bordered
      striped
      narrowed
      detailed
      :mobile-cards="false"
      @details-open="getTeamSchedule"
      >
      <template slot-scope="props">
        <b-table-column label="Team Name">
          {{ props.row.Name }}
        </b-table-column>
        <b-table-column width="10">
          <b-button style="border: none;" outlined type="is-danger" icon-pack="fas" icon-left="trash-alt" @click="deleteTeam(props.row)"></b-button>
        </b-table-column>
      </template>

      <template slot="detail">
        <b-table :data="sortedSchedule"
          :loading="tblLoading"
          bordered
          striped
          narrowed
          :mobile-cards="false"
        >
          <template slot-scope="props">
            <b-table-column label="Date">
              {{ props.row.gameDetails.Date }}
            </b-table-column>
            <b-table-column label="Opponent">
              {{ props.row.gameDetails.Opponent }}
            </b-table-column>
            <b-table-column label="Time">
              {{ props.row.gameDetails.Time }}
            </b-table-column>
            <b-table-column label="Score">
              {{ props.row.gameDetails.Score }}
            </b-table-column>
            <b-table-column width="70">
              <b-button style="border: none; font-size: 12px;" outlined type="is-success" icon-pack="fas" icon-left="pencil-alt" @click="showEditModal(props.row)"></b-button>
              <b-button style="border: none; font-size: 12px;" outlined type="is-danger" icon-pack="fas" icon-left="trash-alt" @click="deleteGame(props.row)"></b-button>
            </b-table-column>
          </template>

          <template slot="footer">
            <b-button style="color: #183661;" type="is-lightGrey" icon-pack="fas" icon-left="plus-circle" @click="editScheduleModal = true">Add Game</b-button>
          </template>

        </b-table>
      </template>
    </b-table>

    <b-button style="border: none; margin-top: 8px" outlined size="is-large" type="is-primary" icon-pack="fas" icon-left="plus-circle" @click="addTeamModal = true"></b-button>

    <b-modal :active.sync="addTeamModal" has-modal-card trap-focus aria-role="dialog" aria-modal>
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Team</p>
        </header>
        <section class="modal-card-body">
          <b-field label="Team Name">
            <b-input
                type="text"
                v-model="teamName"
                placeholder="Add Team"
                required>
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button class="button" type="button" @click="addTeamModal = false">Close</button>
          <button class="button is-primary" @click="saveTeam()">Add</button>
        </footer>
      </div>
    </b-modal>

    <b-modal :active.sync="editScheduleModal" has-modal-card trap-focus aria-role="dialog" aria-modal>
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head">
            <p class="modal-card-title">Schedule</p>
        </header>
        <section class="modal-card-body">
          <b-field label="Date">
            <b-datepicker inline v-model="date" placeholder="Click to select" icon-pack="fas" icon="calendar-alt"></b-datepicker>
          </b-field>

          <b-field label="Opponent">
            <b-input
                type="text"
                v-model="opponent"
                placeholder="Opponent"
                required>
            </b-input>
          </b-field>

          <b-field label="Time">
            <b-select v-model="time" @input="timeSelected" icon="clock" icon-pack="fas">
              <option value="5:30">5:30 PM</option>
              <option value="6:30">6:30 PM</option>
              <option value="7:30">7:30 PM</option>
              <option value="8:30">8:30 PM</option>
            </b-select>
            <!-- <b-dropdown hoverable v-model="time" @change="timeSelected" aria-role="list">
              <button class="button is-primary" slot="trigger">
                  <span>{{ time }}&nbsp;PM</span>
                  <b-icon pack="fas" icon="angle-down"></b-icon>
              </button>

              <b-dropdown-item value="5:30" aria-role="listitem">5:30 PM</b-dropdown-item>
              <b-dropdown-item value="6:30" aria-role="listitem">6:30 PM</b-dropdown-item>
              <b-dropdown-item value="7:30" aria-role="listitem">7:30 PM</b-dropdown-item>
              <b-dropdown-item value="8:30" aria-role="listitem">8:30 PM</b-dropdown-item>
            </b-dropdown> -->
          </b-field>
          <b-field label="Score">
            <b-input
                type="text"
                v-model="score"
                placeholder="Score">
            </b-input>
          </b-field>
        </section>
        <footer class="modal-card-foot">
          <button class="button" type="button" @click="editScheduleModal = false">Close</button>
          <button class="button is-primary" @click="saveSchedule()">Save</button>
        </footer>
      </div>
    </b-modal>

    <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false">
      <b-icon
        pack="fas"
        icon="sync-alt"
        size="is-large"
        custom-class="fa-spin">
      </b-icon>
    </b-loading>

  </div>
</template>

<script>
import firebase from 'firebase'
import { db } from '../../main'
export default {
  name: 'admin',
  data () {
    return {
      teams: [],
      games: [],
      sortedTeams: [],
      sortedSchedule: [],
      gameId: '',
      isLoading: false,
      tblLoading: false,
      isEditing: false,
      teamName: '',
      addTeamModal: false,
      editScheduleModal: false,
      date: new Date(),
      opponent: null,
      time: '5:30',
      score: ''
    }
  },
  async created () {
    this.refreshGames()
  },
  methods: {
    async getTeamSchedule (row) {
      this.tblLoading = true
      this.games = []
      this.teamName = row.Name
      await db.collection('schedule')
        .doc('schedule')
        .get()
        .then((snapshot) => {
          const document = snapshot.data()
          for (const state of Object.keys(document)) {
            if (state === row.Name) {
              const teamSched = document[state]
              for (const el of Object.keys(teamSched)) {
                if (el !== 'TeamName') {
                  this.games.push({
                    gameId: el,
                    gameDetails: teamSched[el]
                  })
                }
              }
            }
          }
          this.sortSchedule()
        })
      this.tblLoading = false
    },
    async saveTeam () {
      this.addTeamModal = false
      await db.collection('teams')
        .doc('teams')
        .update({
          [this.teamName]: {
            Name: this.teamName,
            PPGA: 0.0,
            PPGF: 0.0,
            Record: '0-0'
          }
        })
        .then(() => {
          this.teams.push({
            Name: this.teamName,
            PPGA: 0.0,
            PPGF: 0.0,
            Record: '0-0'
          })
          db.collection('schedule')
            .doc('schedule')
            .update({
              [this.teamName]: {
                TeamName: this.teamName
              }
            })
          this.$buefy.toast.open({
            message: 'Team Added!',
            type: 'is-warning',
            position: 'is-bottom'
          })
          this.editTeam = false
          this.sortTeams()
          this.teamName = ''
        })
    },
    deleteTeam (row) {
      this.$buefy.dialog.confirm({
        title: 'Delete Team',
        message: `Are you sure you want to <b>delete</b> ` + row.Name + '?',
        confirmText: 'Delete',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: () => {
          db.collection('teams')
            .doc('teams')
            .update({
              [row.Name]: firebase.firestore.FieldValue.delete()
            })
          this.$buefy.toast.open({
            message: 'Team Deleted',
            type: 'is-warning',
            position: 'is-bottom'
          })
          db.collection('schedule')
            .doc('schedule')
            .update({
              [row.Name]: firebase.firestore.FieldValue.delete()
            })
          this.teams = this.teams.filter((el) => {
            return el.Name !== row.Name
          })
          this.sortTeams()
        }
      })
    },
    showEditModal (row) {
      this.isEditing = true
      this.gameId = row.gameId
      this.date = new Date(row.gameDetails.Date)
      this.opponent = row.gameDetails.Opponent
      this.score = row.gameDetails.Score
      this.time = row.gameDetails.Time
      this.editScheduleModal = true
    },
    async saveSchedule () {
      // format data
      const month = this.date.getMonth() + 1
      let day = this.date.getDate()
      if (day < 10) { day = '0' + day.toString() }
      let year = this.date.getFullYear().toString()
      year = year.substring(2)
      const formattedDate = month.toString() + '/' + day.toString() + '/' + year

      this.editScheduleModal = false

      // get teams current schedule
      let scheduleToUpdate = {}
      await db.collection('schedule')
        .doc('schedule')
        .get()
        .then((snapshot) => {
          const document = snapshot.data()
          for (const state of Object.keys(document)) {
            if (state === this.teamName) {
              scheduleToUpdate = document[state]
            }
          }
        })

      if (!this.isEditing) {
        // create update schedule dto
        this.gameId = this.generateRandId(10)
        scheduleToUpdate[this.gameId] = {
          Date: formattedDate,
          Opponent: this.opponent,
          Time: this.time,
          Score: ''
        }
        this.games.push({
          gameId: this.gameId,
          gameDetails: scheduleToUpdate[this.gameId]
        })
      } else {
        // update schedule dto
        scheduleToUpdate[this.gameId] = {
          Date: formattedDate,
          Opponent: this.opponent,
          Time: this.time,
          Score: this.score
        }
        for (const val of this.games) {
          val.gameDetails.Date = formattedDate
          val.gameDetails.Opponent = this.opponent
          val.gameDetails.Score = this.score
          val.gameDetails.Time = this.time
        }
      }

      // update db
      await db.collection('schedule')
        .doc('schedule')
        .update({
          [this.teamName]: scheduleToUpdate
        })
        .then(async () => {
          // await this.refreshGames()
          await this.sortSchedule()
          this.$buefy.toast.open({
            message: 'Schedule Updated!',
            type: 'is-warning',
            position: 'is-bottom'
          })
        })

      // clear variables
      this.date = new Date()
      this.opponent = null
      this.time = '5:30'
      this.score = ''
    },
    async deleteGame (row) {
      // get teams current schedule
      let scheduleToUpdate = []
      await db.collection('schedule')
        .doc('schedule')
        .get()
        .then((snapshot) => {
          const document = snapshot.data()
          for (const state of Object.keys(document)) {
            if (state === this.teamName) {
              scheduleToUpdate = document[state]
            }
          }
        })
      this.games = this.games.filter((val) => {
        return val.gameId !== row.gameId
      })
      delete scheduleToUpdate[row.gameId]
      this.$buefy.dialog.confirm({
        title: 'Delete Game',
        message: 'Are you sure you want to <b>delete</b> this game?',
        confirmText: 'Delete',
        type: 'is-danger',
        hasIcon: true,
        onConfirm: async () => {
          await db.collection('schedule')
            .doc('schedule')
            .update({
              [this.teamName]: scheduleToUpdate
            })
          this.sortedSchedule = this.sortedSchedule.filter((el) => {
            return el.gameId !== row.gameId
          })
          this.$buefy.toast.open({
            message: 'Game Deleted',
            type: 'is-warning',
            position: 'is-bottom'
          })
        }
      })
    },
    async refreshGames () {
      this.isLoading = true
      this.teams = []
      this.games = []
      await db.collection('teams')
        .doc('teams')
        .get()
        .then((snapshot) => {
          const document = snapshot.data()
          for (const state of Object.keys(document)) {
            this.teams.push(document[state])
          }
        })
      this.sortTeams()
      this.isLoading = false
    },
    timeSelected (val) {
      this.time = val
    },
    generateRandId (length) {
      var result = ''
      var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789'
      var charactersLength = characters.length
      for (var i = 0; i < length; i++) {
        result += characters.charAt(Math.floor(Math.random() * charactersLength))
      }
      return result
    },
    sortTeams () {
      this.sortedTeams = []
      let i = 0
      let splice = false
      for (const el of this.teams) {
        if (this.sortedTeams.length < 1) {
          this.sortedTeams.push(el)
        } else {
          for (i = 0; i < this.sortedTeams.length; i++) {
            if (el.Name < this.sortedTeams[i].Name) {
              splice = true
              break
            }
          }
          if (splice) {
            this.sortedTeams.splice(i, 0, el)
          } else {
            this.sortedTeams.push(el)
          }
        }
      }
    },
    sortSchedule () {
      this.sortedSchedule = []
      let i = 0
      let splice = false
      for (const el of this.games) {
        if (this.sortedSchedule.length < 1) {
          this.sortedSchedule.push(el)
        } else {
          for (i = 0; i < this.sortedSchedule.length; i++) {
            if (el.gameDetails.Date < this.sortedSchedule[i].gameDetails.Date) {
              splice = true
              break
            }
          }
          if (splice) {
            this.sortedSchedule.splice(i, 0, el)
          } else {
            this.sortedSchedule.push(el)
          }
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .field {
    display: flex;
    flex-direction: column;
  }
  .control {
    justify-content: center;
    align-self: center;
  }
</style>
