<template>
  <div id="app">
    <TopNavBar />
    <router-view/>
  </div>
</template>

<script>
import TopNavBar from '@/components/TopNavBar.vue'
export default {
  name: 'app',
  components: { TopNavBar }
}
</script>

<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your colors
$primary: #dd6b4d;
$primary-invert: findColorInvert($primary);
$info: #1c4b82;
$info-invert: findColorInvert($info);
$success: #588c73;
$success-invert: findColorInvert($success);
$warning: #d34c26;
$warning-invert: findColorInvert($warning);
$danger: #a20e0e;
$danger-invert: findColorInvert($danger);
$darkBlue: #183661;
$darkBlue-invert: findColorInvert($darkBlue);
$lightGrey: #dae1e7;
$lightGrey-invert: findColorInvert($lightGrey);

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $lightGrey;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

// font
$family-sans-serif: "Nunito", sans-serif;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "darkBlue": ($darkBlue, $darkBlue-invert),
    "lightGrey": ($lightGrey, $lightGrey-invert)
);

// Links
$link: $primary;
$link-focus-border: $primary;
$title-color: $lightGrey;
$title-family: true;
$subtitle-color: $lightGrey;
$subtitle-family: true;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
</style>
